<div class="container">
	<div class="row">
		<!--<div class="{{if pickFilesChosen "col-md-6" "col-md-12"}}">-->
		<div class="col-md-12">
			{{#unless openCriteriaPicker}}
				{{main-banner openCriteriaPicker=openCriteriaPicker}}
			{{/unless}}

			{{criteria-picker pickFilesChosen=pickFilesChosen openCriteriaPicker=openCriteriaPicker}}
		</div>

		{{#if pickFilesChosen}}
			<div class="col-md-12">
				{{file-picker}}
			</div>
		{{/if}}
	</div>
</div>

{{!--  

{{#if openCriteriaPicker}}
				{{#if pickfilesChosen}}
					{{file-picker}}
				{{else}}
					{{criteria-picker pickfilesChosen=pickfilesChosen}}
				{{/if}}
			{{else}}
				{{main-banner openCriteriaPicker=openCriteriaPicker}}
			{{/if}}


--}}
{{!--{{file-upload}}--}}


