<div class="container">
	<div class="row">
		<div class="{{if pickFilesChosen "col-md-6" "col-md-12"}}">
			{{criteria-picker pickFilesChosen=pickFilesChosen}}
		</div>

		{{#if pickFilesChosen}}
			<div class="col-md-6">
				{{file-picker}}
			</div>
		{{/if}}
	</div>
</div>

{{pickFilesChosen}}

{{!-- {{main-banner openCriteriaPicker=openCriteriaPicker}} 

{{#if openCriteriaPicker}}
				{{#if pickfilesChosen}}
					{{file-picker}}
				{{else}}
					{{criteria-picker pickfilesChosen=pickfilesChosen}}
				{{/if}}
			{{else}}
				{{main-banner openCriteriaPicker=openCriteriaPicker}}
			{{/if}}


--}}
{{!--{{file-upload}}--}}


