<div class="container">
	<div class="row">
		<!--<div class="{{if pickFilesChosen "col-md-6" "col-md-12"}}">-->
		<div class="col-xs-12">
			{{#unless openCriteriaPicker}}
				{{main-banner openCriteriaPicker=openCriteriaPicker}}
			{{/unless}}

			{{criteria-picker pickFilesChosen=pickFilesChosen openCriteriaPicker=openCriteriaPicker}}
		</div>

		<div class="col-xs-12">
		{{#liquid-if pickFilesChosen class="filePicker"}}
				{{file-picker}}
		{{/liquid-if}}
		</div>

		
	</div>
</div>
{{!--  

{{#if openCriteriaPicker}}
				{{#if pickfilesChosen}}
					{{file-picker}}
				{{else}}
					{{criteria-picker pickfilesChosen=pickfilesChosen}}
				{{/if}}
			{{else}}
				{{main-banner openCriteriaPicker=openCriteriaPicker}}
			{{/if}}


--}}
{{!--{{file-upload}}--}}


