<div class="row">
	{{!-- Selectors --}}
	<div class="col-sm-6">
		<div class="blue-card">
			<ul class="criteria-list">
				<li>Variables {{x-toggle value=boundValue size="large" theme="flat" onToggle=(mut boundValue)}}</li>
				<li>Funciones {{x-toggle value=boundValue2 size="large" theme="flat" onToggle=(mut boundValue2)}}</li>
				<li>Constantes {{x-toggle value=boundValue3 size="large" theme="flat" onToggle=(mut boundValue3)}}</li>
				<li>Comentarios antes {{x-toggle value=boundValue4 size="large" theme="flat" onToggle=(mut boundValue4)}}</li>
				<li>Comentarios dentro {{x-toggle value=boundValue5 size="large" theme="flat" onToggle=(mut boundValue5)}}</li>
				<li>Nombre del Archivo {{x-toggle value=boundValue6 size="large" theme="flat" onToggle=(mut boundValue6)}} </li>
				<li>Declaración de Librerias {{x-toggle value=boundValue7 size="large" theme="flat" onToggle=(mut boundValue7)}}</li>
			</ul>
		</div>
	</div>

	{{!-- Values selected --}}
	<div class="col-sm-6">
		<div class="blue-card test-card">

		</div>
	</div>
</div>