<div class="criteria-banner-container">
	<h1 class="main-banner-title">Elige las criterias a calificar
		<br>
		y el peso que tendran en la calificación.
	</h1>
</div>

<div class="row">
	{{!-- Selectors --}}
	<div class="col-sm-6">
		<div class="blue-card">
			<ul class="criteria-list">
				{{single-criteria-selector criteriaName="Variables" toggleValue=isVariablesOn sliderValue=variablesValue}}
				{{single-criteria-selector criteriaName="Funciones" toggleValue=isFunctionsOn sliderValue=functionsValue}}
				{{single-criteria-selector criteriaName="Constantes" toggleValue=isConstantsOn sliderValue=constantsValue}}
				{{single-criteria-selector criteriaName="Comentarios antes" toggleValue=isCommentsBeforeOn sliderValue=commentsBeforeValue}}
				{{single-criteria-selector criteriaName="Comentarios dentro" toggleValue=isCommentsInsideOn sliderValue=commentsInsideValue}}
				{{single-criteria-selector criteriaName="Nombre del Archivo" toggleValue=isFilenameOn sliderValue=filenameValue}}
				{{single-criteria-selector criteriaName="Declaración de Librerias" toggleValue=isLibrariesOn sliderValue=librariesValue}}
			</ul>
		</div>
	</div>

	{{!-- Values selected --}}
	<div class="col-sm-6">
		<div class="blue-card">
			<div class="percentage-card">
				{{totalPercentage}}%
			</div>
		</div>
		<div class="blue-card-footer">
			<p>Debes tener el 100% del peso con las criterias elegidas.</p>
		</div>
	</div>
</div>