<div class="row">
	{{!-- Selectors --}}
	<div class="col-sm-6">
		<div class="blue-card">
			<ul class="criteria-list">

				{{single-criteria-selector criteriaName="Variables" toggleValue=isVariablesOn}}
				{{single-criteria-selector criteriaName="Funciones" toggleValue=isFunctionsOn}}
				{{single-criteria-selector criteriaName="Constantes" toggleValue=isConstantsOn}}
				{{single-criteria-selector criteriaName="Comentarios antes" toggleValue=isCommentsBeforeOn}}
				{{single-criteria-selector criteriaName="Comentarios dentro" toggleValue=isCommentsInsideOn}}
				{{single-criteria-selector criteriaName="Nombre del Archivo" toggleValue=isFilenameOn}}
				{{single-criteria-selector criteriaName="Declaración de Librerias" toggleValue=isLibrariesOn}}
			</ul>
		</div>
	</div>

	{{!-- Values selected --}}
	<div class="col-sm-6">
		<div class="blue-card test-card">

		</div>
	</div>
</div>