
<div class="criteria-banner-container {{unless openCriteriaPicker "hidden"}}">
	{{#unless pickFilesChosen}}
	<h1 class="main-banner-title">Elige las criterias a calificar
		<br>
		y el peso que tendran en la calificación.
	</h1>
	{{/unless}}
</div>


<div class="row {{unless openCriteriaPicker "hidden"}}">
	<div class="col-sm-6 criterias-container">
		<div class="blue-card">
			<ul class="criteria-list">
				{{single-criteria-selector criteriaName="Variables" toggleValue=isVariablesOn sliderValue=variablesValue}}
				{{single-criteria-selector criteriaName="Funciones" toggleValue=isFunctionsOn sliderValue=functionsValue}}
				{{single-criteria-selector criteriaName="Constantes" toggleValue=isConstantsOn sliderValue=constantsValue}}
				{{single-criteria-selector criteriaName="Comentarios antes" toggleValue=isCommentsBeforeOn sliderValue=commentsBeforeValue}}
				{{single-criteria-selector criteriaName="Comentarios dentro" toggleValue=isCommentsInsideOn sliderValue=commentsInsideValue}}
				{{single-criteria-selector criteriaName="Nombre del Archivo" toggleValue=isFilenameOn sliderValue=filenameValue}}
				{{single-criteria-selector criteriaName="Declaración de Librerias" toggleValue=isLibrariesOn sliderValue=librariesValue}}
			</ul>
		</div>
	</div>

	<div class="col-sm-6 percentage-container">
		<div class="blue-card">
			<div class="percentage-card {{if percentageIs100 "deep-blue"}} {{if percentageOver100 "red"}}">
				{{totalPercentage}}%
			</div>
		</div>

		
		<div class="blue-card-footer">
		{{#if percentageIs100}}
			<p>Ahora elige los archivos a evaluar.</p>
		{{else if percentageOver100}}
			<p>Error: El peso total no puede ser mayor a 100.</p>
		{{else}}
			<p>Debes tener el 100% del peso con las criterias elegidas.</p>
		{{/if}}
		</div>
		
	</div>
</div>	