<!--<div class="criteria-banner-container">
  <h1 class="main-banner-title">Elige los archivos
    <br>
    puede ser uno solo รณ todo un folder.
  </h1>
</div>-->

<div class="row">
  {{!-- Values selected --}}
  <div class="col-xs-12">
    <div class="blue-card">

      <input id="file-multiple-button" class="hidden" type="file" title="Select a file" multiple="" webkitdirectory=""/>
      <input id="file-single-button" class="hidden" type="file" multiple="" title="Select a file"/>
      
      <div class="files-container">
      {{#each	files as |file index|}}
        <div class="file-container">
          {{file.name}}
          <i class="fa fa-close file-icon" {{action 'removeFile' index}}></i>
        </div>
      {{/each}}
      </div>
      
    </div>
    <div class="blue-card-footer align-right">
      <button class="pickfiles-button purple-button" {{action 'openMultipleFileSelector'}}>Folder</button>
      <button class="pickfiles-button" {{action 'openSingleFileSelector'}}>Archivos</button>
      <button class="pickfiles-button orange-button" {{action 'uploadFiles'}}>Subir</button>
    </div>
  </div>
</div>